
/*added*/
.room {
    height: 20px;
    width: 20px;
    /*this sets a default position if it
    isn't given on the form*/
    left: 300px;
    top: 60px;
    position: absolute;
    background-color: navy;
    border-radius: 5px;
}

/*description*/
#mode-bar p{
    margin: 0px;
}

/*status bar*/
#mode-bar ul{
    list-style: none;
    padding: 0px;

}

/*status bar elements*/
#mode-bar li {
    padding-left: 4px;
    padding-right: 4px;

    display: inline;
    border: 1px solid black;
}

/*here and below is the hover pop up*/

ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.key {
    font-weight: bold;
}

.container {
    height:285px;
    width: 600px;
    border-radius: 25px;

    position: relative;
    background-color: #00334C;
    display: none;
    z-index: 1000;
}

.picture {
    height: 260px;
    width: 400px;

    position: absolute;
    top: 10px;
    left: 10px;
}

.picture img {
    width: 100%;
    height: auto;
    max-height: 260px;
    border-radius: 25px;
}

.data-box {
    height: 260px;
    width: 170px;
    border-radius: 25px;

    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #DCDCD9;
}
