html {
    background-color: #CCCC66;
}

a {
    font-weight: bold;
}

#outer {
	/*working background*/
    background : url("http://127.0.0.1:4567/img/5th-whole.PNG");

	position: relative;

	height : 842px;
	width: 1318px;

}
